{
  "plugins": [
    "@semantic-release/commit-analyzer",
    ["@semantic-release/git", {
      "assets": ["thing-with-version.yml"],
      "message": "chore(release): ${nextRelease.version}"
    }]
  ]
}

